
// vite/template/header/navbar/nav/item/_nav-item.scss
$nav-item-color: white !default;
$nav-item-color-hover: red !default;
@mixin nav-item() {
    .nav-item {
        margin-left: 10px;
        a {
            color: $nav-item-color;
            text-decoration: none;
            cursor: pointer;
            display: block;
            &:hover {
                color: $nav-item-color-hover;
            }
        }
    }
}